/* 
 * CSS file for alvisMainPage.html
 * Website at sebastianalvis.com/index.html
 */

 /* Make mobile-first formatting
  * Don't have header stick on small screens
  * Default size is xs, so the formatting should by default be made to work on phone screens
  */
* {
  padding: 0px;
  margin: 0px;
}

header { 
	background-color: #4b2e83;
	top: 0px;
  position: fixed;
  z-index: 9;
  height: 5rem;
}

header div {
	display: inline;
	color: white;
	margin: 0rem;
	padding: 0rem;

	position: relative;
	top: 1rem;
  left: 1rem;
}


nav {
	padding-top: 1rem; }
  nav a {
    color: white; }

div.nav {
  display: inline;
  color: white; 
  z-index: 9;
  width: 20rem; }

  div.nav ul {
    list-style-type: none; 
    display: block; }

  div.nav li {
	  margin: 0rem 1rem;
	  padding: 0rem; }

  div.nav a {
	  color: white;
	  font-size: 1rem;
	  margin: 0rem;
	  padding: 0rem; }

.home-page-button, .dnd-page-button {
  width: 15rem;
  height: 5rem;
  padding: 1.6rem;
}

.home-page-button {
  left: 0rem;
  width: 10rem;
}

.dnd-page-button {
  left: -1rem;
}

.active-button {
  background-color: #4B0082;
  /*
  border: black 0.2rem solid;
  border-bottom: none;*/
}

.home-page-menu, .dnd-page-menu {
  z-index: 10;
  position: fixed;
  top: 5rem;
  width: 15rem;
  background-color: #4B0082;
  /*
  border: black 0.2rem solid;
  display: block;*/
}

.home-page-menu {
  left: 0.9rem;
}

.dnd-page-menu {
  left: 10rem;
}

@media (min-width: 768px) {
  .home-page-button, .dnd-page-button {
    width: 15rem;
    height: 5rem;
    padding: 1.6rem;
  }
  
  .home-page-button {
    left: 3.6rem;
    width: 10rem;
  }
  
  .dnd-page-button {
    left: 8rem;
  }
  
  .active-button {
    background-color: #4B0082;
    /*
    border: black 0.2rem solid;
    border-bottom: none;*/
  }
  
  .home-page-menu, .dnd-page-menu {
    position: fixed;
    top: 5rem;
    width: 15rem;
    background-color: #4B0082;
    /*
    border: black 0.2rem solid;
    display: block;*/
  }
  
  .home-page-menu {
    left: 4.5rem;
  }
  
  .dnd-page-menu {
    left: 19rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  header {
  	/*background-color: blue;*/
  }

  nav a {
  	padding: 0.2rem;
  }

  nav ul {
  	left: -1rem;
  }

  section {
    padding-top: 2rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  header {
  	/*background-color: black;*/
  }

  nav a {
  	padding: 0.3rem 0.1rem;
  }

  nav ul {
  	left: -1rem;
  }

  section {
    padding-top: 2rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  header {
  	/*background-color: orange;*/
  }

  nav a {
  	padding: 0.4rem;
  }

  nav ul {
  	left: 2rem;
  }

  section {
    padding-top: 2rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  nav a {
  	padding: 0.5rem;
  }

  nav ul {
  	left: 3rem;
  }

  header {
  	/*background-color: #4b2e83;*/
  }

  section {
  	padding-top: 2rem;
  }
}

.hide {
	display: none;
}

#main_img {
  float: right;
}

ul {

}

li {
  display: inline-block;
  padding: 0rem 1rem;
}

body {
  background-color: #d9d9d9;
}

.container {
}

.row {
	padding-left: 1rem;
	width: 100%;
}

section {
  padding-top: 7rem;
  padding-bottom: 2rem;
}

p {

}

table {
  border: 0.5em black solid;
}

thead {
  border-bottom: 0.2em black solid;
  background-color: #13294b;
  color: white;
}

th {
	border: 0.1em black solid;
  padding: 0 0.3em;
}

tbody {
  background-color: #E84A27;
}

td {
	border: 0.1em black solid;
	padding: 0 0.3em;
}

footer {
	background-color: #4b2e83;
	color: white;
	width: 100%;
	margin: auto;
	display: inline-block;
	height: 7em;
	font-size: 1.2em;
}

footer p {
	position: relative;
	top: 0.5rem;
	left: 1rem;
}

footer ul {
	width: 100%;
	display: inline-block;
}

footer li {
	margin: 0rem 0rem;
}


