/* 
 * CSS file for alvisMainPage.html
 * Website at sebastianalvis.com
 */
header {
	display: inline-block;
}

nav {
  background-color: purple;
  position: fixed;
  z-index: 10;
  width: 100%;
}

ul {

}

li {
  display: inline-block;
}

body {
  background-color: silver;
}

.container {

}

.row {
	padding: 1em;
  margin: 3em;
}

table {
  border: 0.5em black solid;
}

thead {
  border-bottom: 0.2em black solid;
  background-color: blue;
}

tbody {
  background-color: orange;
}