/* 
 * CSS file for alvisMainPage.html
 * Website at sebastianalvis.com
 */
nav {
  background-color: purple;
  position: fixed;
  z-index: 10;
  width: 100%;
}

ul {

}

li {
  display: inline-block;
}

body {
  background-color: gray;
}

.container {

}

.jumbotron {

}

.container {

}

.row {

}

table {

}

thead {

}

tbody {

}